.reports-container {
    text-align: center;
    padding: 20px;
    background-color: #fff8e1;
    border-radius: 10px;
    width: 80%;
    margin: 30px auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .charts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .chart {
    width: 100%;
    max-width: 500px;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
  }
  
  @media (max-width: 768px) {
    .chart {
      width: 100%;
    }
  }
  