.navbar {
    background-color: #b30000; /* Rojo oscuro */
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #ffcc00; /* Amarillo dorado */
    transition: 0.3s;
  }
  