body {
  background-color: #F2F3F4; /* Blanco mármol */
  color: #333;
  font-family: 'Playfair Display', serif;
  margin: 0;
  padding-top: 90px; /* Ajustado para el navbar */
}

h1 {
  color: #8B0000; /* Rojo oscuro */
  font-size: 32px;
}

p {
  color: #030303;
  font-size: 18px;
}

button {
  background-color: #b30000;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

button:hover {
  background-color: #ffcc00;
  color: #1c1c1c;
}

.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 2000;
}

.popup button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.popup button:hover {
  background-color: darkred;
}

