body {
  background-color: #F2F3F4; /* Blanco mármol */
  color: #333; /* Color de texto */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


h1 {
  color: #ffcc00; /* Amarillo para que resalte */
  font-size: 40px;
}

p {
  color: #030303; /* Un gris más claro */
  font-size: 18px;
}

.container {
  max-width: 900px;
  margin: 50px auto;
  background-color: #333; /* Gris oscuro */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #b30000; /* Rojo oscuro */
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ffcc00; /* Amarillo */
  color: #1c1c1c; /* Gris oscuro */
  transition: 0.3s;
}

body {
  font-family: 'Playfair Display', serif; /* Se aplicará a toda la web */
}
